.wrapper {
    background: black;
    max-width: 80vw;
    width: 100%;
    margin: 100px auto;
    min-height: calc(100vh - 200px);
    color: white;
  }
  
  .bg-pink {
    background: #e7b2a5;
  }
  
  .bg-orange {
    background: #f1935c;
  }
  
  .bg-red {
    background: #ba6b57;
  }
  
  .bg-blue {
    background: #30475e;
  }
  
  .text-pink {
    color: #e7b2a5;
  }
  
  .text-orange {
    color: #f1935c;
  }
  
  .text-red {
    color: #ba6b57;
  }
  
  .text-blue {
    color: #30475e;
  }
  
  .mt-5 {
    margin-top: 50px;
  }
  .mt-4 {
    margin-top: 40px;
  }
  .mt-3 {
    margin-top: 20px;
  }
  .mt-2 {
    margin-top: 10px;
  }
  .mt-1 {
    margin-top: 5px;
  }
  
  .ml-5 {
    margin-left: 50px;
  }
  .ml-4 {
    margin-left: 40px;
  }
  .ml-3 {
    margin-left: 20px;
  }
  .ml-2 {
    margin-left: 10px;
  }
  .ml-1 {
    margin-left: 5px;
  }
  
  .mb-5 {
    margin-bottom: 50px;
  }
  .mb-4 {
    margin-bottom: 40px;
  }
  .mb-3 {
    margin-bottom: 20px;
  }
  .mb-2 {
    margin-bottom: 10px;
  }
  .mb-1 {
    margin-bottom: 5px;
  }
  
  .mr-5 {
    margin-right: 50px;
  }
  .mr-4 {
    margin-right: 40px;
  }
  .mr-3 {
    margin-right: 20px;
  }
  .mr-2 {
    margin-right: 10px;
  }
  .mr-1 {
    margin-right: 5px;
  }
  
  .pt-1 {
    padding-top: 5px;
  }
  .pt-2 {
    padding-top: 10px;
  }
  .pt-3 {
    padding-top: 20px;
  }
  .pt-4 {
    padding-top: 40px;
  }
  .pt-5 {
    padding-top: 50px;
  }
  
  .pb-1 {
    padding-bottom: 5px;
  }
  .pb-2 {
    padding-bottom: 10px;
  }
  .pb-3 {
    padding-bottom: 20px;
  }
  .pb-4 {
    padding-bottom: 40px;
  }
  .pb-5 {
    padding-bottom: 50px;
  }
  
  .pl-1 {
    padding-left: 5px;
  }
  .pl-2 {
    padding-left: 10px;
  }
  .pl-3 {
    padding-left: 20px;
  }
  .pl-4 {
    padding-left: 40px;
  }
  .pl-5 {
    padding-left: 50px;
  }
  .pr-1 {
    padding-right: 5px;
  }
  .pr-2 {
    padding-right: 10px;
  }
  .pr-3 {
    padding-right: 20px;
  }
  .pr-4 {
    padding-right: 40px;
  }
  .pr-5 {
    padding-right: 50px;
  }
  
  .rounded {
    border-radius: 10px;
  }
  
  .flex {
    display: flex;
  }
  
  .justify {
    justify-content: space-between;
  }
  
  .card {
    max-width: 200px;
    max-height: 250px;
    margin: 10px;
    color: white;
  }
  
  html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding-top: 0;
    font-weight: normal;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }

  html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Baloo Tammudu 2', cursive;
  }
  
.card-header,
.card-body,
.card-footer {
  justify-content: space-between;
  padding-top: 5px;
  margin: 15px auto;
}
.link {
    color: #f6f6f6;
    padding: 5px;
  }

.link:hover,
.link:focus {
  color: #30475e;
 
}
.btn {
    border-radius: 5px;
    color: #f6f6f6;
    font-size: 12px;
    padding: 5px;
  }
  
.btn:focus,
.btn:hover {
  color: #f1935c;
  background: #f6f6f6;
  transition: background-color 0.2s ease-in;
}