<footer class="footer flex bg-red">
    <div class="footer-wrapper flex">
        <ul>
            <li><a href="" class="link">Link</a></li>
            <li><a href="" class="link">Link</a></li>
            <li><a href="" class="link">Link</a></li>
        </ul>
        <ul>
            <li><a href="" class="link">Link</a></li>
            <li><a href="" class="link">Link</a></li>
            <li><a href="" class="link">Link</a></li>
        </ul>
        <ul>
            <li><a href="" class="link">Link</a></li>
            <li><a href="" class="link">Link</a></li>
            <li><a href="" class="link">Link</a></li>
        </ul>
    </div>
</footer>