<header  class="header flex justify bg-orange">
    <span> SHOP <span class="text-red">APP</span> </span>
    <div class="mt-1">
      <a class="btn btn-orange" href=""><i class="fas fa-shopping-cart"></i>YOUR CART</a>
      <a class="btn btn-blue" href=""><i class="fas fa-globe"></i>EXPLORE</a>
    </div>
    <div class="mt-1">
      <a class="btn btn-orange" href=""> <i class="fas fa-sign-in-alt"></i>SING IN</a>
      <a class="btn btn-blue" href="" ><i class="fas fa-plus"></i>LOGIN</a>
    </div>
</header>