{% extends 'layout.html' %}
{% block body %}

<div class="wrapper">
    <h1> PROFILE - <span class="text-secondary"> {{user.username|upper}} </span> </h1>
    <br>
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                    href="#list-home" role="tab" aria-controls="home">Your Cart</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                    href="#list-profile" role="tab" aria-controls="profile">Profile</a>

            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show border border-secondary rounded text-secondary active" id="list-home"
                    role="tabpanel" aria-labelledby="list-home-list">
                    <table class="table table-borderless table-secondary">
                        <thead class="text-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Count</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for cart_list_item in cart_list %}
                            <tr>
                                <td>{{cart_list_item.name}}</td>
                                <td>{{cart_list_item.company_name}}</td>
                                <td>{{cart_list_item.price}}</td>
                            </tr>

                            {% endfor %}


                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <samp>
                        To
                        switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
                        To edit settings, press <kbd>print(hello world)</kbd>
                    </samp>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock body %}